.single-post{
    footer{
    display: none;
    }    
}

footer {
    font-weight: 700;
    padding: 2rem  $mBig;
    background-color: $black;
    color:white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    @include media-breakpoint-down(sm){
    display: block;
    padding: 1rem;
        
        span{
        display:block;
        text-align: center;
        margin-bottom: 1rem;    
        }    
        
    }
    
    
}