.single-post{
    
    .returnToHome{
    display: block !important;
    }
    
    .menuBtn{
    display: none;
    }
    
    nav.main .brand{
    display: block;
    }    
}


nav.main {
    height: 100%;
    padding: 2rem 0;
    width: 6.25vw;
    position: fixed;
    left: 0;
    top:0;
    color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    z-index: 99999999;
    
    &.white{
    color:white;    
    }
    
    .returnToHome{
    width: 100%;
    height: 1.5rem;
    font-weight: 700;
    background-image: url("../images/arrow-left-b.svg");
    background-repeat: no-repeat;  
    background-size: auto 110%;
    background-position: center;
    position: relative;
    display: none;
        
        a{
        position: absolute 0 0 0 0;
            
        }
        
        &::after{
        content: 'Zurück';
        display: block;
        text-transform: uppercase;
        position: absolute;
        bottom:-4rem;  
        text-align: center;
        width: 100%; 
        transform: rotate(-90deg);
        }    
        
    }
    
   
    .menuBtn {
        width: 1.5rem;
        height: 1.5rem;
        .burger-icon {
           
            @include burger(32px, 3px, 5px, black, 2px);
        
        }
        &.is-active .burger-icon {
            @include burger-to-cross;
        }
    }
    
    .brandAuthor, .brand {
        font-size: 1rem;
        transform: rotate(-90deg);
        white-space: nowrap;
        font-family: $sans-serif; 
        
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        display: none;
        position: relative;
        top:-5rem;
        font-weight: 700;
    }
    
    .brandAuthor{
    font-family: $serif;
    display: none;
      font-size: 0.875rem;    
    }
    
    .share {
        span {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            display: block;
            margin-top: 0.75rem;
            background-image: url("../images/twitter.svg");
            background-position: left top;
            background-size: cover;
            &:first-of-type {
            background-image: url("../images/fb.svg");
            }
        }
    }
    
          &.white{
            color:white; 
              
              .burger-icon{
                  &,&::before, &::after{
                   background-color: white;      
                  }  
                  
               
              }  
              
          .share span{
            background-position: right top;  
          }      
          
    }
}

.menuLayer {
    list-style: none;
    width: 50%;
    height: 100%;
    background-color: black;
    position: fixed;
    left: 0;
    margin: 0;
    top: 0;
    z-index: 99999;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-100%);
    
    #menu-main{
      list-style: none;
    padding: 0;
    margin: 0;    
    }
    
    
    li {
        color: white;
        font-size: 4rem;
        letter-spacing: 0.25rem;
        color: white;
        font-family: $sans-serif;
         font-weight: 700;
        margin-bottom: 4rem;
        &.current-menu-item {
            text-decoration: underline;
        }
    }
}


